body {
    background-color: #6DADAB;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    position: relative;
    bottom:20px;  
}

.header {
    position: relative;
    text-align: center;
    background-color: #AD6D6F;
    color: #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.3);
    margin: auto;
    top: 90px;
    height: 80px;
    width: 50%;
    padding-top: 10px;

}



    
.image {
    box-shadow: 10px 5px 5px rgba(0,0,0,0.3);
    width: 100%;
    height: 423px;
    margin: auto;
    filter: grayscale(50%);
    position: relative;
    background-color: #FFFFFF;
    padding-top: -50px;
}

.recipe {
    z-index: 1;
    background-color: #FFFFFF;
    color: #575151;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    margin: auto;
    text-align: left;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.3);
    margin-top: 212px;
    margin-bottom: 300px;
    padding: 20px 50px 20px 50px;
    top: 300px;
    bottom: 200px;
    height: auto;
    width: 43.3%;
}

.btn {
    position: absolute;
    text-align: center;
    top: 2.5%;
    left:47.5%;
    background-color:#6DADAB;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.3);
    border: 5px solid white;
    border-radius: 50px;
    padding: 5px 40 px;
    font-size: x-large;
    font-weight: bold;
    color: #FFFFFF;

    
}

a {
    text-decoration: none;
    color: #FFFFFF;

}

